
<h1>Adding a Car</h1>

<div class="form-group">
    <label for="brandrk">Brand</label>
    <input type="text" name="Brand" class="form-control" id="brandrk" aria-describedby="emailHelp" placeholder="Enter brand">

</div>
<div class="form-group">
    <label for="model">Model</label>
    <input type="text" name="Model" class="form-control" id="model" placeholder="Enter the car model">
</div>

<div class="form-group">
    <label for="cost">Cost</label>
    <input type="text" name="Cost" class="form-control" id="cost" placeholder="Enter the cost model">
</div>

<button id="btnSaveCar" class="btn btn-primary">Submit</button>
<div id="status"></div>

@Scripts.Render("~/bundle/HomePage")
